{% extends 'layout.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h4>Name: <small>{{ current_user.name }}</small></h4>
        <h4>Username: <small>{{ current_user.username }}</small></h4>
        <h4>Email: <small>{{ current_user.email }}</small></h4>
        <form action="{{ url_for('users.update_account') }}">
            <button class="btn btn-primary">Update</button>
        </form><br>

        {% for post in posts %}
            <div>
                <p><a class="a-name" href="{{ url_for('posts.user_posts', username=post.author.username) }}">{{ post.author.name }}</a> <small class="username">@{{ post.author.username }}</small> . <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
                <p class="post-content">{{ post.post_content }}</p>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
